<div aria-hidden="true" class="modal fade text-left" data-backdrop="static" data-keyboard="false" id="questionpopup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" ng-form="questionForm">
            <div class="modal-header">
                <h4 class="modal-title">
                    Add Question
                </h4>
                <button aria-label="Close" class="close" type="button" ng-click="db.question.closeModal()">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                Language
                            </label>
                            <select class="form-control" name="langId" ng-model="db.question.model.langId" ng-class="{ 'input-error': db.question.isSubmit && questionForm.langId.$error.required }" required="true">
                                <option value="">
                                    -- Select Language --
                                </option>
                                <option ng-repeat="lan in lang.data" value="{{lan._id}}">
                                    {{lan.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                Category
                            </label>
                            <select class="form-control" name="catId" ng-model="db.question.model.catId" ng-class="{ 'input-error': db.question.isSubmit && questionForm.catId.$error.required }" required="true">
                                <option value="">
                                    -- Select Category --
                                </option>
                                <option ng-repeat="cat in cat.data" value="{{cat._id}}" ng-if="cat.langId.indexOf(db.question.model.langId)  != -1 ">
                                    {{cat.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>
                            Question
                        </label>
                        <textarea class="form-control" ng-model="db.question.model.question" rows="5" ng-class="{ 'input-error': db.question.isSubmit && questionForm.question.$error.required }" required="true" name="question">
                        </textarea>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>
                            A
                        </label>
                        <input class="form-control" name="answer1" ng-model="db.question.model.answer1" type="text" ng-class="{ 'input-error': db.question.isSubmit && questionForm.answer1.$error.required }" required="true" />
                    </div>
                    <div class="col-md-12 form-group">
                        <label>
                            B
                        </label>
                        <input class="form-control" name="answer2" ng-model="db.question.model.answer2" type="text" ng-class="{ 'input-error': db.question.isSubmit && questionForm.answer2.$error.required }" required="true" />
                    </div>
                    <div class="col-md-12 form-group">
                        <label>
                            C
                        </label>
                        <input class="form-control" name="answer3" ng-model="db.question.model.answer3" type="text" ng-class="{ 'input-error': db.question.isSubmit && questionForm.answer3.$error.required }" required="true" />
                    </div>
                    <!-- <div class="col-md-12 form-group">
                        <label>
                            Answer 4
                        </label>
                        <input class="form-control" name="four" ng-model="db.question.model.answer4" type="text"/>
                    </div> -->
                    <div class="col-md-12 form-group">
                        <label>
                            D (Correct Answer)
                        </label>
                        <input class="form-control" name="correctAnswer" ng-model="db.question.model.correctAnswer" type="text" ng-class="{ 'input-error': db.question.isSubmit && questionForm.correctAnswer.$error.required }" required="true" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 text-center">
                    <button class="btn btn-primary" ng-click="db.question.submit(questionForm)" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade text-left" data-backdrop="static" data-keyboard="false" id="removecat" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm Remove
                </h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 order-md-1">
                    Are you sure you want to delete this record?
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-primary float-right" ng-click="db.cat.remove.removeData()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade text-left" data-backdrop="static" data-keyboard="false" id="removequestion" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm Remove
                </h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 order-md-1">
                    Are you sure you want to delete this record?
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-primary float-right" ng-click="db.question.remove.removeData()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" class="modal fade text-left" data-backdrop="static" data-keyboard="false" id="remove-subcat" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm Remove
                </h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 order-md-1">
                    Are you sure you want to delete this record?
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-primary float-right" ng-click="db.subc.removeSubmit()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>